* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("cork.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    margin: 5%; 
}

.container-lg {
    background: url("yellow-pad.png");
    background-size: cover;
    background-repeat: repeat-y;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
    *{margin: 1% 2%}
}

.navbar {
    max-width: 100%;
    .navbar-brand {
        width: 25%;
        transition: .25s;
        img {
            content: url("justjammin\ logo\ official.png");
            width: 100%;
            margin: 1%;
        }
    }
    .navbar-brand:hover, .navbar-brand:active {
        img {
            content: url("justjammin\ logo\ outlined.png")
        }
    }
    .btn-nav {
        padding: 1%;
        width: 10%;
        background-color: #d41d1d;
        border: 5px solid #d41d1d;
        transition: .25s;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .btn-nav:hover {
        background-color: #f6f5aa;
        color: #d41d1d;
    }
}

.btn {
    color: #f6f5aa;
}

@media screen and (max-width: 960px) {
    .navbar-brand {width: 40% !important;}
    .btn-nav {width: 15% !important;}
}

@media screen and (max-width: 720px) {
    .navbar-brand {width: 50% !important;}
}